.sub-app {
  background-color: orange;
  margin: 15px;
  padding: 10px;
  width: 300px;
}

.sub-app h2 {
  color: white;
  text-align: center;
}

.sub-app h4 {
  color: white;
  text-align: center;
}

.sub-app input {
  margin-left: 50px;
  width: 200px;
  padding: 3px;
}

.sub-app button {
  background-color: blue;
  padding: 10px;
  margin-top: 10px;
  color: white;
  border: 0px;
  margin-left: 100px;
  border-radius: 10px;


}

.sub-app p {
  text-align: center;
  color: white;
}